*{
	margin: 0;
	padding: 0;
}

.cabeçalho{
	background-color: #191970	;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	padding: 24px 0;
}
.c-item{
	display: inline-block;
margin: 0 16px;
font-size: 20px;
}