*{
	margin: 0;
	padding: 0;
}

.cabeçalho{
	background-color: #191970	;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	padding: 58px 0;
}
.logo{
	display: inline-block;
margin: 0 16px;
font-size: 38px;
font-style: italic;
}

.projetos{
	 display: inline-block;
	 margin-top: 0px ;
	 justify-content: center;
}
.nois{
	display: inline;
	justify-content: left;
}
